<!DOCTYPE html>
<html lang="zh-cn" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <script type="text/javascript" th:src="@{js/jquery-1.11.1.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{js/main.js}"></script>
    <script type="text/javascript" th:src="@{js/top.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}" />  

    <!--[if lt IE 9]
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    [endif]-->

    <style>
        body {
            padding-top: 30px;
            padding-bottom: 40px;
            color: #5a5a5a;
        }

        /* 轮播广告 */
        .carousel {
            height: 500px;
            margin-bottom: 60px;
        }
        .carousel .item {
            height: 500px;
            background-color: #000;
        }
        .carousel .item img {
            width: 100%;
        }
        .carousel-caption p {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 1.8;
        }

        /* 简介 */
        .summary {
            padding-right: 15px;
            padding-left: 15px;
        }
        .summary .col-md-4 {
            margin-bottom: 20px;
            text-align: center;
        }

        /* 特性 */
        .feature-divider {
            margin: 40px 0;
        }
        .feature {
            padding: 30px 0;
        }

        /* 响应式布局 */
        @media (max-width: 768px) {
            .summary {
                padding-right: 3px;
                padding-left: 3px;
            }
            .carousel {
                height: 300px;
                margin-bottom: 30px;
            }
            .carousel .item {
                height: 300px;
            }
            .carousel img {
                min-height: 300px;
            }
            .carousel-caption p {
                font-size: 16px;
                line-height: 1.4;
            }
        }

        @media (min-width: 992px) {

        }
    </style>

</head>

<body onload="load()">

<!--顶部导航-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="menu-nav">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">个人理财系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#summary-container">综述</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">功能<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#feature-tab" data-tab="tab-day">日常收支</a></li>
                        <li><a href="#feature-tab" data-tab="tab-finance">个人理财</a></li>
                        <li><a href="#feature-tab" data-tab="tab-debt">债务管理</a></li>
                        <li><a href="#feature-tab" data-tab="tab-loan">贷款管理</a></li>
                        <li><a href="#feature-tab" data-tab="tab-utils">小工具</a></li>
                    </ul>
                </li>
                <li><a href="#" data-toggle="modal" data-target="#about-modal">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" onclick="User_Info()">
                        <i class="glyphicon glyphicon-user"></i> User
                    </a>
                </li>
                <li><a href="#" id="login" onclick="Log_In()">Log in</a></li>
                <li><a href="#" id="signout" onclick="Sign_Out()">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>
<!--顶部导航结束-->

<!--广告轮播-->
<div id="ad-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#ad-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#ad-carousel" data-slide-to="1"></li>
        <li data-target="#ad-carousel" data-slide-to="2"></li>
        <li data-target="#ad-carousel" data-slide-to="3"></li>
        <li data-target="#ad-carousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img th:src="@{~/images/coin.jpg}" alt="1 slide">
        </div>
        <div class="item">
            <img th:src="@{~/images/stock.jpg}" alt="2 slide">
        </div>
        <div class="item">
            <img th:src="@{~/images/bitcoin.jpg}" alt="3 slide">
        </div>
        <div class="item">
            <img th:src="@{~/images/star.jpg}" alt="4 slide">
        </div>
        <div class="item">
            <img th:src="@{~/images/finance.png}" alt="5 slide">
        </div>
    </div>
    <a class="left carousel-control" href="#ad-carousel" data-slide="prev"><span
            class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#ad-carousel" data-slide="next"><span
            class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!--广告轮播结束-->

<!--主要内容-->
<div class="container summary">

    <!--应用栏-->
    <ul class="nav nav-tabs" role="tablist" id="feature-tab">
        <li class="active"><a href="#tab-day" role="tab" data-toggle="tab">日常收支</a></li>
        <li><a href="#tab-finance" role="tab" data-toggle="tab">个人理财</a></li>
        <li><a href="#tab-debt" role="tab" data-toggle="tab">债务管理</a></li>
        <li><a href="#tab-loan" role="tab" data-toggle="tab">财务管理</a></li>
        <li><a href="#tab-utils" role="tab" data-toggle="tab">小工具</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-day">
            <div class="row feature">
                <!-- 日常收支 -->
                <div style="width: 700px; padding-top: 30px; margin: 0 auto;">
                    <form>
                        <div class="form-group">
                            <label for="use_Money">Use Money</label>
                            <input type="text" class="form-control" value="" placeholder="0" id="use_Money">
                        </div>
                        <div class="form-group">
                            <label for="income">Income(1/0)</label>
                            <input type="text" class="form-control" value="" placeholder="1" id="income">
                        </div>
                        <div class="form-group">
                            <label for="how_Use">How Use</label>
                            <select class="form-control" id="how_Use">
                                <option>日常饮食</option>
                                <option>交通出行</option>
                                <option>服饰美容</option>
                                <option>住房缴费</option>
                                <option>文教健康</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="datetimes">Datatime</label>
                            <input type="date" class="form-control" id="datetimes">
                        </div>
                        <div class="form-group">
                            <label for="other_Contents">Other Contents</label>
                            <textarea class="form-control" rows="3" placeholder="无" id="other_Contents"></textarea>
                        </div>
                        <div class="form-group" style="padding-left: 150px; padding-right: 200px;">
                            <button type="button" class="btn btn-primary" id="day_Input_Output" onclick="dayInputOutput()">确认</button>
                            <button type="reset" class="btn btn-primary" id="day_Reset" onclick="dayReset()" style="float: right;">重置</button>
                        </div>
                    </form>
                </div>
                <!--日常收支结束-->
            </div>
        </div>
        <div class="tab-pane" id="tab-finance">
            <div class="row feature">
                <!-- 个人理财 -->
                <div style="height: 500px;">
                    <table class="table table-striped">
                        <tr>
                            <th scope="col">LoanId</th>
                            <th scope="col">Name</th>
                            <th scope="col">Deadline</th>
                            <th scope="col">Money</th>
                            <th scope="col">Intrate</th>
                            <th scope="col">ExpectReturn</th>
                            <th scope="col">Contents</th>
                            <th scope="col">Buy</th>
                        </tr>
                        <tr id="financial_One"></tr>
                        <tr id="financial_Two"></tr>
                        <tr id="financial_Three"></tr>
                        <tr id="financial_Four"></tr>
                        <tr id="financial_Five"></tr>
                        <tr id="financial_ix"></tr>
                    </table>

                </div>
                <!--个人理财结束-->
            </div>
        </div>
        <div class="tab-pane" id="tab-debt">
            <div class="row feature">
                <!-- 债务管理 -->
                <div style="height: 500px;">
                    <table class="table table-striped">
                        <tr>
                            <th scope="col">LoanId</th>
                            <th scope="col">Money</th>
                            <th scope="col">ReturnDate</th>
                            <th scope="col">Type</th>
                            <th scope="col">Intrate</th>
                            <th scope="col">Odds</th>
                            <th scope="col">Contents</th>
                            <th scope="col">Buy</th>
                        </tr>
                        <tr id="loan_One"></tr>
                        <tr id="loan_Two"></tr>
                        <tr id="loan_Three"></tr>
                        <tr id="loan_Four"></tr>
                        <tr id="loan_Five"></tr>
                        <tr id="loan_ix"></tr>
                    </table>
                </div>
                <!--债务管理结束-->
            </div>
        </div>
        <div class="tab-pane" id="tab-loan">
            <div class="row feature">
                <!-- 财务管理 -->
                <div style="height: 500px; background-color: pink;"></div>
                <!--财务管理结束-->
            </div>
        </div>
        <div class="tab-pane" id="tab-utils">
            <div class="row feature">
                <!-- 小工具 -->
                <div>
                    <ul class="nav nav-tabs" role="tablist" id="feature-tab-utils">
                        <li class="active"><a href="#tab-one" role="tab" data-toggle="tab">汇率兑换计算</a></li>
                        <li><a href="#tab-two" role="tab" data-toggle="tab">个人所得税计算</a></li>
                        <li><a href="#tab-three" role="tab" data-toggle="tab">住房公积金计算</a></li>
                        <li><a href="#tab-four" role="tab" data-toggle="tab">养老保险计算</a></li>
                        <li><a href="#tab-five" role="tab" data-toggle="tab"> 活期储蓄计算</a></li>
                        <li><a href="#tab-six" role="tab" data-toggle="tab">教育储蓄计算</a></li>
                        <li><a href="#tab-seven" role="tab" data-toggle="tab">个人贷款计算</a></li>
                        <li><a href="#tab-eight" role="tab" data-toggle="tab">债务收益计算</a></li>
                    </ul>

                    <!--工具Tab-->
                    <div class="tab-content">
                        <!-- 汇率兑换 -->
                        <div class="tab-pane active" id="tab-one">
                            <div style="width: 600px; padding-left: 20%; padding-top: 70px;">
                                <label>持有币种:</label>
                                <select id="buy_Currency">
                                    <option value="None">-请选择币种-</option>
                                    <option value="Rmb">人民币</option>
                                    <option value="Dollar">美元</option>
                                    <option value="Pound">英镑</option>
                                    <option value="Euro">欧元</option>
                                    <option value="Yen">日元</option>
                                    <option value="HK">港币</option>
                                    <option value="Franc">法郎</option>
                                </select>
                                <br><br>
                                <label>持有金额:</label>
                                <input type="text" value="0" id="have_Money">
                                <label>元</label>
                                <br><br>
                                <button type="submit" class="btn btn-primary" id="change_Money" onclick="changeMoney()">兑换</button>
                                <br><br>
                                <label>兑换币种:</label>
                                <select id="buy_Currency2">
                                    <option value="None">-请选择币种-</option>
                                    <option value="Rmb">人民币</option>
                                    <option value="Dollar">美元</option>
                                    <option value="Pound">英镑</option>
                                    <option value="Euro">欧元</option>
                                    <option value="Yen">日元</option>
                                    <option value="HK">港币</option>
                                    <option value="Franc">法郎</option>
                                </select>
                                <br><br>
                                <label>兑换金额:</label>
                                <input type="text" value="0" id="have_Money2">
                                <label>元</label>
                            </div>
                        </div>
                        <!-- 个人所得税计算 -->
                        <div class="tab-pane" id="tab-two">
                            <div style="width: 600px; padding-left: 20%; padding-top: 70px;">
                                <label>收入类型: &nbsp;&nbsp;&nbsp;</label>
                                <select id="income_Type" onchange="incomeType()">
                                    <option value="None">-请选择收入类型-</option>
                                    <option value="WaterBefore">税前月薪</option>
                                    <option value="Year">年终奖</option>
                                    <option value="UseMore">经营所得</option>
                                    <option value="personWork">个体工商户</option>
                                    <option value="WorkHad">劳务报酬</option>
                                </select>
                                <br><br>
                                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;城市:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <select id="live_City" onchange="liveCity()">
                                    <option value="None">-请选择城市-</option>
                                    <option value="VIPCity">一线城市</option>
                                    <option value="OneCity">二线城市</option>
                                    <option value="TwoCity">三线城市</option>
                                    <option value="ThreeCity">四线城市</option>
                                </select>
                                <br><br>
                                <label>&nbsp;&nbsp;个人收入:&nbsp;&nbsp;</label>
                                <input type="text" value="0" id="people_Income">
                                <label>元</label>
                                <br><br>
                                <label>&nbsp;&nbsp;医疗保险:&nbsp;&nbsp;</label>
                                <input type="text" value="2" id="medical_Insurance">
                                <label>%</label>
                                <br><br>
                                <label>&nbsp;&nbsp;失业保险:&nbsp;&nbsp;</label>
                                <input type="text" value="2" id="losework_Insurance">
                                <label>%</label>
                                <br><br>
                                <label>&nbsp;&nbsp;养老保险:&nbsp;&nbsp;</label>
                                <input type="text" value="8" id="pension_Insurance">
                                <label>%</label>
                                <br><br>
                                <label>&nbsp;&nbsp;工伤保险:&nbsp;&nbsp;</label>
                                <input type="text" value="0" id="workbad_Insurance">
                                <label>%</label>
                                <br><br>
                                <label>&nbsp;&nbsp;生育保险:&nbsp;&nbsp;</label>
                                <input type="text" value="0" id="baby_Insurance">
                                <label>%</label>
                                <br><br>
                                <label>住房公积金:</label>
                                <input type="text" value="8" id="home_Fund">
                                <label>%</label>
                                <br><br>
                                <label>&nbsp;&nbsp;专项扣除:&nbsp;&nbsp;</label>
                                <input type="text" value="0" id="special_Decution">
                                <label>元</label>
                                <br><br>
                                <button type="submit" class="btn btn-primary" id="insurance_Change" onclick="insuranceChange()">计算</button>
                                <br><br>
                                <label>&nbsp;&nbsp;扣税收入:&nbsp;&nbsp;</label>
                                <input type="text" value="0" id="actual_Income">
                                <label>元</label>
                            </div>
                        </div>
                        <!-- 住房公积金计算 -->
                        <div class="tab-pane" id="tab-three">
                            <div style="width: 600px; padding-left: 20%; padding-top: 70px;">
                                <label>月薪收入:</label>
                                <input type="text" value="0" id="month_Income_Three">
                                <label>元</label>
                                <br><br>
                                <label>个人比例:</label>
                                <input type="text" value="8" id="people_Propor">
                                <label>%</label>
                                <br><br>
                                <label>公司比例:</label>
                                <input type="text" value="12" id="company_Propor">
                                <label>%</label>
                                <br><br>
                                <button type="submit" class="btn btn-primary" id="home_Fund_Change" onclick="homeFundChange()">计算</button>
                                <br><br>
                                <label>单月缴纳:</label>
                                <input type="text" value="0" id="month_Outcome">
                                <label>元</label>
                                <br><br>
                                <label>个人缴纳:</label>
                                <input type="text" value="0" id="month_Outcome_People">
                                <label>元</label>
                                <br><br>
                                <label>公司缴纳:</label>
                                <input type="text" value="0" id="month_Outcome_Company">
                                <label>元</label>
                            </div>
                        </div>
                        <!-- 养老保险计算 -->
                        <div class="tab-pane" id="tab-four">
                            <div style="width: 600px; padding-left: 20%; padding-top: 70px;">
                                <label>月薪收入:</label>
                                <input type="text" value="0" id="month_Income_Four">
                                <label>元</label>
                                <br><br>
                                <label>增长比例:</label>
                                <input type="text" value="5" id="up_Intrate">
                                <label>%</label>
                                <br><br>
                                <label>个人比例:</label>
                                <input type="text" value="8" id="people_Intrate">
                                <label>%</label>
                                <br><br>
                                <label>公司比例:</label>
                                <input type="text" value="20" id="company_Intrate">
                                <label>%</label>
                                <br><br>
                                <label>现在年龄:</label>
                                <input type="text" value="0" id="now_Age">
                                <label>岁</label>
                                <br><br>
                                <label>退休年龄:</label>
                                <input type="text" value="60" id="down_Age">
                                <label>岁</label>
                                <br><br>
                                <button type="submit" class="btn btn-primary" id="medical_Insurance_Change" onclick="medicalInsuranceChange()">计算</button>
                                <br><br>
                                <label>单月缴纳:</label>
                                <input type="text" value="0" id="month_Medical_Insurance_Outcome">
                                <label>元</label>
                                <br><br>
                                <label>个人缴纳:</label>
                                <input type="text" value="0" id="month_Medical_Insurance_Outcome_People">
                                <label>元</label>
                                <br><br>
                                <label>公司缴纳:</label>
                                <input type="text" value="0" id="month_Medical_Insurance_Outcome_Company">
                                <label>元</label>
                                <br><br>
                                <label>&nbsp;&nbsp;退休金:&nbsp;&nbsp;</label>
                                <input type="text" value="0" id="all_Medical_Insurance_Outcome">
                                <label>元</label>
                            </div>
                        </div>
                        <!-- 活期储蓄计算 -->
                        <div class="tab-pane" id="tab-five">
                            <div style="width: 600px; padding-left: 20%; padding-top: 70px;">
                                <label>存储金额:</label>
                                <input type="text" value="0" id="income_Money_Five">
                                <label>元</label>
                                <br><br>
                                <label>存入时间:</label>
                                <select id="income_Date_Five">
                                    <option value="None">-请选择存储年限-</option>
                                    <option value="1">1年</option>
                                    <option value="2">2年</option>
                                    <option value="3">3年</option>
                                    <option value="5">5年</option>
                                </select>
                                <br><br>
                                <label>存储利率:</label>
                                <input type="text" value="0.35" id="income_Intrate">
                                <label>%</label>
                                <br><br>
                                <button type="submit" class="btn btn-primary" id="income_Money_Change" onclick="incomeMoneyChange()">计算</button>
                                <br><br>
                                <label>&nbsp;&nbsp;&nbsp;&nbsp;利息:&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" value="0" id="intrate_Money_Five">
                                <label>元</label>
                                <br><br>
                                <label>&nbsp;&nbsp;本息合:&nbsp;</label>
                                <input type="text" value="0" id="intrate_Money_And_Money_Five">
                                <label>元</label>
                            </div>
                        </div>
                        <!-- 教育储蓄计算 -->
                        <div class="tab-pane" id="tab-six">
                            <div style="width: 600px; padding-left: 20%; padding-top: 70px;">
                                <label>存储金额:</label>
                                <input type="text" value="0" id="income_Money_Six">
                                <label>元</label>
                                <br><br>
                                <label>存储时间:</label>
                                <select id="income_Date_Six">
                                    <option value="None">-请选择存储时间-</option>
                                    <option value="OneYear">1年</option>
                                    <option value="TwoYear">2年</option>
                                    <option value="ThreeYear">3年</option>
                                    <option value="FourYear">5年</option>
                                </select>
                                <br><br>
                                <button type="submit" class="btn btn-primary" id="study_Income_Money_Change" onclick="studyIncomeMoneyChange()">计算</button>
                                <br><br>
                                <label>单月利息:</label>
                                <input type="text" value="0" id="month_Intrate_Money_Six">
                                <label>元</label>
                                <br><br>
                                <label>&nbsp;&nbsp;&nbsp;&nbsp;利息:&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" value="0" id="intrate_Money_Six">
                                <label>元</label>
                                <br><br>
                                <label>&nbsp;&nbsp;本息合:&nbsp;</label>
                                <input type="text" value="0" id="intrate_Money_And_Money_Six">
                                <label>元</label>
                                <br><br>
                                <small>教育储蓄只能单月存储，并且存储金额位于0到1600之间，利率为2.5%，且无任何税收。</small>
                            </div>
                        </div>
                        <!-- 个人贷款计算 -->
                        <div class="tab-pane" id="tab-seven">
                            <div style="width: 600px; padding-left: 20%; padding-top: 70px;">
                                <label>贷款金额:</label>
                                <input type="text" value="0" id="loan_Money">
                                <label>元</label>
                                <br><br>
                                <label>归还年限:</label>
                                <input type="text" value="0" id="return_Date">
                                <label>年</label>
                                <br><br>
                                <label>&nbsp;&nbsp;&nbsp;&nbsp;利率:&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" value="4.9" id="intrate_Seven">
                                <label>%</label>
                                <br><br>
                                <button type="submit" class="btn btn-primary" id="loan_Money_Change" onclick="loanMoneyChange()">计算</button>
                                <br><br>
                                <label>每月归还:</label>
                                <input type="text" value="0" id="month_Return">
                                <label>元</label>
                                <br><br>
                                <label>&nbsp;&nbsp;&nbsp;&nbsp;利息:&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" value="0" id="intrate_Money_Seven">
                                <label>元</label>
                                <br><br>
                                <label>总本息合:</label>
                                <input type="text" value="0" id="intrate_Money_And_Money_Seven">
                                <label>元</label>
                                <br><br>
                                <small>此计算方法为等额本息贷款！</small>
                            </div>
                        </div>
                        <!-- 债务收益计算 -->
                        <div class="tab-pane" id="tab-eight">
                            <div style="width: 600px; padding-left: 20%; padding-top: 70px;">
                                <label>购买金额:</label>
                                <input type="text" value="0" id="buy_Money">
                                <label>元</label>
                                <br><br>
                                <label>购买期限:</label>
                                <select id="buy_Date">
                                    <option value="None">-请选择购买年限-</option>
                                    <option value="OneYear">1年</option>
                                    <option value="TwoYear">2年</option>
                                    <option value="ThreeYear">3年</option>
                                    <option value="FiveYear">5年</option>
                                </select>
                                <br><br>
                                <label>&nbsp;&nbsp;年利率:&nbsp;</label>
                                <input type="text" value="3.5" id="year_Intrate">
                                <label>%</label>
                                <br><br>
                                <button type="submit" class="btn btn-primary" id="debt_Change" onclick="debtChange()">计算</button>
                                <br><br>
                                <label>&nbsp;&nbsp;&nbsp;&nbsp;利息:&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" value="0" id="intrate_Money_Eight">
                                <label>元</label>
                                <br><br>
                                <label>&nbsp;&nbsp;本息合:&nbsp;</label>
                                <input type="text" value="0" id="intrate_Money_And_Money_Eight">
                                <label>元</label>
                            </div>
                        </div>
                    </div>
                    <!--工具Tab结束-->
                </div>
                <!--小工具结束-->
            </div>
        </div>

    </div>
    <!--应用栏结束-->

    <!--特性-->
    <hr class="feature-divider">

    <!--综述-->
    <div class="row" id="summary-container" style="margin: 0 auto; padding-top: 30px;">
        <div class="col-md-4">
            <img class="img-circle" src="images/44.jpg" alt="chrome">

            <h2>新规后P2P平台集体“傍”银行</h2>

            <p>7月18日央行等十部委联合发布《关于促进互联网金融健康发展的指导意见》要求P2P平台资金第三方存管之后，10天的时间里已有多家P2P平台宣布与银行达成存管合作，集体“傍”银行。</p>

            <p><a class="btn btn-default" href="http://finance.people.com.cn/money/n/2015/0731/c218900-27389725.html" role="button">点我了解更多</a></p>
            <!-- http://finance.people.com.cn/money/n/2015/0731/c218900-27389725.html -->
        </div>
        <div class="col-md-4">
            <img class="img-circle" src="images/22.jpg" alt="firefox">

            <h2>银行理财收益率“风光不再”降至4.88%</h2>

            <p>入夏以来A股跌宕起伏，当征战股市的投资者准备购买理财产品时，却发现银行理财收益率大降。上周北京地区发行的人民币非结构性银行理财的平均收益率已降至4.88%，平均投资期限则长达131天。</p>

            <p><a class="btn btn-default" href="http://finance.people.com.cn/money/n/2015/0731/c218900-27389800.html" role="button">点我了解更多</a></p>
            <!-- http://finance.people.com.cn/money/n/2015/0731/c218900-27389800.html -->
        </div>
        <div class="col-md-4">
            <img class="img-circle" src="images/77.png" alt="safari">

            <h2>大额存单发行机构扩至102家</h2>

            <p>未来，市民要购买大额存单，将会有更多的银行机构可以选择。昨日，北京晨报记者从中国外汇交易中心获悉，发行大额存单金融机构将从此前的9家扩大至102家。</p>
            <br>
            <p><a class="btn btn-default" href="http://finance.people.com.cn/bank/n/2015/0731/c202331-27389640.html" role="button">点我了解更多</a></p>
            <!-- http://finance.people.com.cn/bank/n/2015/0731/c202331-27389640.html -->
        </div>
    </div>
    <!--综述结束-->

    <!--特性-->
    <hr class="feature-divider">

    <!--footer-->
    <div>
        <footer>
            <p class="text-center">&copy; 2019 西北工业大学明德学院</p>
            <p class="text-center"> 20121502 151219 李云龙 </p>
        </footer>
    </div>
    <!--footer结束-->

    <!--关于-->
    <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title" id="modal-label">About</h4>
                </div>
                <div class="modal-body">
                    <p>个人理财的重要性就是让你学会花钱，把钱花在刀刃上。
                        通过理财把不同的闲钱利用起来，让钱能够带来钱，从而进一步提高我们自己的生活水平。理财从此刻做起，越早越好。
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
                </div>
            </div>
        </div>
    </div>
    <!--关于结束-->

</div>
<!--主要内容结束-->

<script>
    $(document).ready(function(){
        $('#ad-carousel').carousel();
        $('#menu-nav .navbar-collapse a').click(function (e) {
            var href = $(this).attr('href');
            var tabId = $(this).attr('data-tab');
            if ('#' !== href) {
                e.preventDefault();
                $(document).scrollTop($(href).offset().top - 70);
                if (tabId) {
                    $('#feature-tab a[href=#' + tabId + ']').tab('show');
                }
            }
        });
    });
</script>

</body>

</html>
