<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
	<title>Admin</title>
	<link rel="icon" th:href="@{images/lyl.ico}" type="image/x-icon">

	<script type="text/javascript" th:src="@{js/jquery-1.11.1.js}"></script>
	<script type="text/javascript" th:src="@{js/bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{js/top.js}"></script>
	<script type="text/javascript" th:src="@{js/admin.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}" />  

</head>
<body>

	<h2 align="center">Admin Controller Abord!</h2>

	<hr class="feature-divider">

	<!-- Financial -->
	<h3 align="center">Financial</h3>
	<div style="height: 400px; width: 70%; background-color: red;">

	</div>

	<!-- Loan -->
	<h3 align="center">Loan</h3>
	<div style="height: 400px; width: 70%; background-color: black; ">

	</div>

</body>
</html>