<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Demo Test</title>

    <script type="text/javascript" th:src="@{js/jquery-1.11.1.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}" />

</head>
<body onload="test()">

<table class="table table-striped">
    <tr>
        <th scope="col">LoanId</th>
        <th scope="col">Name</th>
        <th scope="col">Deadline</th>
        <th scope="col">Money</th>
        <th scope="col">Intrate</th>
        <th scope="col">ExpectReturn</th>
        <th scope="col">Contents</th>
    </tr>
    <tr id="financial_One"></tr>
    <tr id="financial_Two"></tr>
    <tr id="financial_Three"></tr>
    <tr id="financial_Four"></tr>
    <tr id="financial_Five"></tr>
    <tr id="financial_ix"></tr>
</table>

</body>

<script th:inline="javascript">

    function requestData(url, method, data, cb) {
        var xhr = new XMLHttpRequest();
        xhr.open(method || 'get', url, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                var  result = xhr.response;
                try {
                    result = JSON.parse(result)
                } catch (e) {
                    console.warn('解析 JSON 失败', e);
                }
                cb && cb({
                    status: xhr.status,
                    data: result
                });
            }
        }
        if (typeof(data) === 'object') {
            data = JSON.stringify(data);
        }
        xhr.send(data);
    }

    var one = document.getElementById("financial_One");
    var two = document.getElementById("financial_Two");
    var three = document.getElementById("financial_Three");
    var four = document.getElementById("financial_Four");
    var five = document.getElementById("financial_Five");
    var six = document.getElementById("financial_Six");
    var seven = document.getElementById("financial_Seven");

    test = function () {
        requestData('/financial/all', 'get', {}, function (res) {
            if (res.status === 200) {
                console.log(JSON.stringify(res.data.data, "", "   "));
                var x = "";
                for (var i in res.data.data) {
                    x += "<tr>";
                    for (var j in res.data.data[i]) {
                        x += "<td>" + res.data.data[i][j] + "</td>";
                    }
                    x += "</tr>";
                    console.log(x);
                    innerHtml(i, x);
                    x = "";
                }
            } else {
                alert('请求失败: ' + res.status);
                //console.log('请求失败: ' + res.status);
            }
        });
    }

    innerHtml = function (i, x) {
        switch (parseInt(i)) {
            case 0:
                one.innerHTML = x;
                break;
            case 1:
                two.innerHTML = x;
                break;
            case 2:
                three.innerHTML = x;
                break;
            case 3:
                four.innerHTML = x;
                break;
            case 4:
                five.innerHTML = x;
                break;
            case 5:
                six.innerHTML = x;
                break;
            case 6:
                seven.innerHTML = x;
                break;
        }
    }

</script>


</html>